<!DOCTYPE html>
<html>
<head>
	<title>ADMIN</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
	
	<h1 class="text-center">ADMIN PANEL</h1>

	<div class="container row mt-5">
		<div class="col-lg-4"></div>
		<div class="col-lg-3">
			<a href="{{url_for('addusers')}}" class="btn btn-primary">ADD USERS</a>
		</div>
		<div class="col-lg-3">
			<a href="{{url_for('viewusers')}}" class="btn btn-primary">VIEW USERS</a>
		</div>
		<div class="col-lg-2"></div>

		

		

	</div>

</body>
</html>