<!DOCTYPE html>
<html>
<style>
	body
	{
		background-image: url("../static/img/homepagebg.jpg");
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: auto;
	}
	a
	{
		color: white!important;
		font-size: 20px!important;
		padding-right: 40px!important;

	}
	a:hover
	{
		font-weight:bold;
		font-size: 20px!important;
	}
</style>
<head>
	<title>HOME</title>

	<!----- BOOTSTRAP CDN ---------->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>
	{%if current_user.is_authenicated%}
	<div class="container">
		<nav>
			<ul class="nav justify-content">
			  <li class="nav-item">
			    <a class="nav-link active" href="{{url_for('home')}}">Home</a>
			  </li>
			  
			  <li class="nav-item">
			    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
			  </li>
			  {%else%}
			 <div class="row container">
			  <li class="nav-item">
			    <a class="nav-link" href="{{url_for('register')}}">Register</a>
			  </li>
			  
			  <li class="nav-item">
			    <a class="nav-link" href="{{url_for('login')}}">Login</a>
			  </li>
			 </div>
			</ul>
		</nav>
	</div>
	{%endif%}
<h1 style="text-align: center;color: white;margin-top:10% ">WELCOME TO OUR SITE</h1>
<h6 style="text-align: center;color: white;font-weight: bold">Our Site Provides You Small API tools like Getting Current Location,<br>Text to Speech Converter etc.. <br><br><br>
PLEASE LOGIN TO CONTINUE..</h6>
<div class="text-center">
<a href="{{url_for('login')}}" class="btn btn-success" style="padding:2PX 10px!important">LOGIN</a>
</div>
</body>
</html>